# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Static and media files
static/
media/

# VSCode settings
.vscode/
